<div class="container-fluid">
    <div>
        <h3>Employee Dashboard: Sections </h3>
    </div>
   <div>
       <div style="width:280px;height:100px;text-align: left;align-content: top">
          <button name="empdetails" style="width:200px;height:100px;" (click)='loadEmpDetails()'>My Details Section</button>
          <button name="empmgrdetails" style="width:80px;height:100px;vertical-align: top" (click)='loadMngrDetails()'>My Manager Section</button>
       </div>
     <div>
        <button name="leaveappnsec" style="width:280px;height:50px;" (click)='loadleaveApplications()'>My Leave Applications Section</button>
      </div>
      <div>
            <button name="repemppendleave" style="width:280px;height:50px;" (click)='loadPendingleaves()'>My Reporting Employees Pending Leave Section</button>
      </div>
    </div>
</div>
  